<div class="jumbotron">
    <div class="container">
        <h1>You have now been logged out</h1>
        <%# !-- this file is only shown whenever there is an error during log out -- %> <% if (errorMessage) { %> 
        <%= errorMessage %> <% } %>
    </div>
</div>


