<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gighive</title>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container"></div>
      <div class="gighive-logo">
        <img src="/images/GIGHIVE-Logo-WHITE.png" alt="gighive-logo">
      </div>
      <ul>
        <li id="to-right">
          <a href="/">Home</a> <span> | </span>
          <a href="/profile">My Account</a> <span> | </span>
          <a href="/auth/logout">Logout</a>
          </form>
        </li>
      </ul>
      <form action="/search" method="GET">
        <input type="text" name="query" />
        <button type="submit">Search</button>
      </form>
      
    </div>

    <%- body %>

    <script src="/js/script.js"></script>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>    
    $(document).ready(function() { 
      $(".nav-tabs a").click(function() {
          $(this).tab('show');
        });
      });
  </script>
  </body>
</html>